$section-background-color: white;
$section-font-color: gray;
$company-name-color: white;
$add-button-color: #186767;
$delete-button-color: #D75655;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Maven Pro', sans-serif;
	background-color: gray;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

@mixin section {
	background-color: $section-background-color;
	color: $section-font-color;
	width: 100%;
	margin: 20px;
	padding: 20px;
}

.header {
	@include section;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#chart {
	@include section;
	height: 400px;
	text-align: center;
}

.search-div {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	input {
		padding: 5px;
		margin-top: 10px;
	}
	button {
		padding: 5px;
		width: 60px;
		background-color: $add-button-color;
		border: none;
		color: white;
		&:hover {
			cursor: pointer;
		}
	}
}

.companies {
	@include section;
	display: flex;
	flex-wrap: wrap;
}

.company-div {
	padding: 10px;
	margin: 5px;
	width: calc((100% - 30px)/ 3);
	background-color: black;
	opacity: 0.8;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $company-name-color;
	button {
		background-color: $delete-button-color;
		color: white;
		border: none;
		width: 20px;
		&:hover {
			cursor: pointer;
		}
	}
}

.wait {
	color: white;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	top: 0;
	left: 0;
	text-align: center;
	p {
		margin-top: 100px;
	}
	z-index: 5;
}

.footer {
	@include section;
	padding: 5px;
	opacity: 0.8;
	font-size: 0.8em;
	p, a, div, ul, li, a {
		margin: 2px;
	}
	a {
		color: $section-font-color;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
}